<!--The content below is only a placeholder and can be replaced.-->
<div class="parent" *ngIf="flag ">
    <div class="container-fluid">
      <div class="row">
          <input type="text" class="search-box" [(ngModel)]="assignedToSearch" id="search" placeholder="Search by Assigned to">
          <!-- [(ngModel)]="assignedToSearch" (input)="searchAssigned($event)"-->
          <input type="submit" class="search-button" (click)="searchAssignedTo()" value="Search">

      </div>
  <div class="row">
    <div class="col-md">
      <div class="header"  id="reject">REJECTED</div>
      <div class="box" *ngFor="let a of arr">
        <div class="accordion" id="accordionExample">
            <div class="card">
                <div class="card-header" id="headingTwo">
                        <p>Task Title</p>
                        <p>Assigned to</p>
                        <button type="button" class="btn btn-info" (click)="openModal()">
                        Click for description</button>
                </div>
            </div>
      </div>
        </div>
    </div>
    <div class="col-md">
      <div class="header" id="pending">PENDING</div>
      <div class="box">
          <div *ngFor="let i of arr">
            {{i}}
          </div>
        </div>
    </div>
    <div class="col-md">
      <div class="header" id="dev">DEVELOPMENT</div>
      <div class="box">
          <div *ngFor="let i of arr">
            {{i}}
          </div>
        </div>
    </div>
    <div class="col-md">
      <div class="header" id="paused">PAUSED</div>
      <div class="box">
          <div *ngFor="let i of arr">
            {{i}}
          </div>
        </div>
    </div>
    <div class="col-md">
      <div class="header" id="test">TESTING</div>
      <div class="box">
          <div *ngFor="let i of arr">
            {{i}}
          </div>
        </div>
    </div>
    <div class="col-md">
      <div class="header" id="prod">PRODUCTION</div>
      <div class="box">
          <div *ngFor="let i of arr">
            {{i}}
          </div>
        </div>
    </div>
  </div>
  </div>
  <div><button title="click to add task" class="btn btn-success" style="z-index: +999; position: fixed; bottom: 8px; right: 3px;"  matTooltip="Info about the action">ADD NEW TASK</button></div>
  
</div>

  <!-- </div>
  </div>

</div> -->
<ng-container *ngIf="display1=='block'">
    <div class="modal"  [ngStyle]="{'display':display1}">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Modal Header</h4>
          <button type="button" class="close" (click) = "closeModal1()">&times;</button>
          
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label for="comment">Project description:</label>
                <textarea class="form-control" rows="5" id="comment" [disabled]="editdata">dsadasd</textarea>
                <p><b>Assigned To :</b><span> fhgf</span></p>
                <p><b>Assigned Date :</b><span> fhgf</span></p>
                <p><b>Deadline :</b><span> fhgf</span></p>
                <p><b>Completion Date :</b><span> fhgf</span></p>
                <p><b>Status :</b></p><span> 
                    <select class="form-control" [disabled]="editdata">
                        <option *ngFor="let st of status">{{st}}</option>
                      </select>
                </span>
                <label>Comments:</label>
                <textarea class="form-control" rows="5" id="comment" [disabled]="editdata">dsadasd</textarea>
              </div>
        </div>
        <div class="modal-footer">
          <div class="foot">
              <button type="button" class="btn btn-default" (click) = "editData()">Edit</button>
              <button type="button" class="btn btn-default" (click) = "closeModal1()">Close</button>
          </div>
          
        </div>
      </div>
      
    </div>
    </div>
 </ng-container>
 
<ng-container *ngIf="display=='block'">
  <div class="modal" [ngStyle]="{'display':display}">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Enter Google Spreadsheet Link</h4>
          <button type="button" class="close" (click)="closeModal()">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
          <label class="col-md-2">Link : </label><input class="col-md-10" type="text" [(ngModel)]="link">
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" (click)="getAllData()">Go to Scrum</button>
        </div>
        
      </div>
    </div>
    </div>
  </ng-container>
  <ng-container *ngIf="addTask=='block'">
      <div class="modal"  [ngStyle]="{'display':addTask}">
      <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title">Modal Header</h4>
            <button type="button" class="close" (click) = "closeTask()">&times;</button>
            
          </div>
          <div class="modal-body">
              <div class="form-group">
                  <label for="comment">Project description:</label>
                  <textarea class="form-control" rows="5" id="comment" [disabled]="editdata">dsadasd</textarea>
                  <p><b>Assigned To :</b><span> fhgf</span></p>
                  <p><b>Assigned Date :</b><span> fhgf</span></p>
                  <p><b>Deadline :</b><span> fhgf</span></p>
                  <p><b>Completion Date :</b><span> fhgf</span></p>
                  <p><b>Status :</b></p><span> 
                      <select class="form-control" [disabled]="editdata">
                          <option *ngFor="let st of status">{{st}}</option>
                        </select>
                  </span>
                  <label>Comments:</label>
                  <textarea class="form-control" rows="5" id="comment" [disabled]="editdata">dsadasd</textarea>
                </div>
          </div>
          <div class="modal-footer">
            <div class="foot">
                <button type="button" class="btn btn-default" (click) = "closeTask()">Close</button>
            </div>
            
          </div>
        </div>
        
      </div>
      </div>
   </ng-container>
<router-outlet></router-outlet>