<!--The content below is only a placeholder and can be replaced.-->
<div class="parent" *ngIf="flag ">
    <div class="container-fluid">
      <div class="row">
          <input type="text" class="search-box" [(ngModel)]="assignedToSearch" id="search" placeholder="Search by Assigned to">
          <!-- [(ngModel)]="assignedToSearch" (input)="searchAssigned($event)"-->
    </div>
    <div class="sample">Please view sample Google Sheet. <a target="_blank" href="https://docs.google.com/spreadsheets/d/13ej4PSYs5oIxW1BkkD9icsrj86Yxp0m51ExVj58zf2U/edit#gid=0">Click here.</a></div>

      </div>
  <div class="row">
    <div class="col-md">
      <div class="header"  id="reject">REJECTED</div>
      <div class="box" *ngFor="let ou of entries, let i=index"  >
        <div class="accordion" id="accordionExample" *ngIf="ou[7] == 'REJECTED' && compare(ou[3])">
            <div class="card">
                <div class="card-header" id="headingTwo">
                        <p>{{ou[1]}}</p>
                        <p>Assigned To: </p><p>{{ou[3]}}</p>
                        <button type="button" class="btn btn-info" (click)="openModal(ou)">
                        Click for description</button>
                </div>
            </div>
      </div>
        </div>
    </div>
    <div class="col-md">
      <div class="header" id="pending">PENDING</div>
      <div class="box" *ngFor="let ou of entries, let i=index" >
          <div class="accordion" id="accordionExample" *ngIf="ou[7]=='PENDING' && compare(ou[3])">
              <div class="card">
                  <div class="card-header" id="headingTwo">
                          <p>{{ou[1]}}</p>
                          <p>Assigned To: </p><p>{{ou[3]}}</p>
                          <button type="button" class="btn btn-info" (click)="openModal(ou)">
                          Click for description</button>
                  </div>
              </div>
        </div>
        </div>
    </div>
    <div class="col-md">
      <div class="header" id="dev">DEVELOPMENT</div>
      <div class="box" *ngFor="let ou of entries, let i=index" >
          <div class="accordion" id="accordionExample" *ngIf="ou[7]=='DEVELOPMENT' && compare(ou[3])">
              <div class="card">
                  <div class="card-header" id="headingTwo">
                          <p>{{ou[1]}}</p>
                          <p>Assigned To: </p><p>{{ou[3]}}</p>
                          <button type="button" class="btn btn-info" (click)="openModal(ou)">
                          Click for description</button>
                  </div>
              </div>
        </div>
        </div>
    </div>
    <div class="col-md">
      <div class="header" id="paused">PAUSED</div>
      <div class="box" *ngFor="let ou of entries, let i=index" >
          <div class="accordion" id="accordionExample" *ngIf="ou[7]=='PAUSED' && compare(ou[3])">
              <div class="card">
                  <div class="card-header" id="headingTwo">
                          <p>{{ou[1]}}</p>
                          <p>Assigned To: </p><p>{{ou[3]}}</p>
                          <button type="button" class="btn btn-info" (click)="openModal(ou)">
                          Click for description</button>
                  </div>
              </div>
        </div>
        </div>
    </div>
    <div class="col-md">
      <div class="header" id="test">TESTING</div>
      <div class="box" *ngFor="let ou of entries, let i=index" >
          <div class="accordion" id="accordionExample" *ngIf="ou[7]=='TESTING' && compare(ou[3])">
              <div class="card">
                  <div class="card-header" id="headingTwo">
                          <p>{{ou[1]}}</p>
                          <p>Assigned To: </p><p>{{ou[3]}}</p>
                          <button type="button" class="btn btn-info" (click)="openModal(ou)">
                          Click for description</button>
                  </div>
              </div>
        </div>
        </div>
    </div>
    <div class="col-md">
      <div class="header" id="prod">PRODUCTION</div>
      <div class="box" *ngFor="let ou of entries, let i=index" >
          <div class="accordion" id="accordionExample" *ngIf="ou[7]=='PRODUCTION' && compare(ou[3])">
              <div class="card">
                  <div class="card-header" id="headingTwo">
                          <p>{{ou[1]}}</p>
                          <p>Assigned To: </p><p>{{ou[3]}}</p>
                          <button type="button" class="btn btn-info" (click)="openModal(ou)">
                          Click for description</button>
                  </div>
              </div>
        </div>
        </div>
    </div>
  </div>
  </div>
  <div><button title="click to add task" class="btn btn-success" style="z-index: +999; position: fixed; bottom: 8px; right: 3px;" (click)="openTask()">ADD NEW TASK</button></div>
  

  <!-- </div>
  </div>

</div> -->
<ng-container *ngIf="display1=='block'">
    <div class="modal"  [ngStyle]="{'display':display1}">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">{{tempentries[1]}}</h4>
          <button type="button" class="close" (click) = "closeModal1()">&times;</button>
          
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label for="comment">Project description:</label>
                <textarea class="form-control" rows="5" id="comment" [disabled]="editdata" [(ngModel)]="tempentries[2]"></textarea>
                <p><b>Assigned To :</b><span><input type="text" [(ngModel)]="tempentries[3]" [disabled]="editdata"></span></p>
                <p><b>Assigned Date :</b><span><input type="text" [(ngModel)]="tempentries[4]" [disabled]="editdata"></span></p>
                <p><b>Deadline :</b><span><input type="text" [(ngModel)]="tempentries[5]" [disabled]="editdata"> </span></p>
                <p><b>Completion Date :</b><span><input type="text" [(ngModel)]="tempentries[6]" [disabled]="editdata"></span></p>
                <p><b>Status :</b>
                <input type="text" [(ngModel)]="tempentries[7]" [disabled]="editdata">
                <!-- <span> 
                    <select class="form-control" [disabled]="editdata">
                        <option *ngFor="let st of status">{{st}}</option>
                      </select>
                </span> -->
                <p>
                <label>Comments:</label></p>
                <textarea class="form-control" rows="5" id="comment" [disabled]="editdata" [(ngModel)]="tempentries[8]"></textarea>
              </div>
        </div>
        <div class="modal-footer">
          <div class="foot">
              <button type="button" class="btn btn-default" id="edit" (click) = "editData()" [disabled]="!editdata">Edit</button>
              <button type="button" class="btn btn-default" id="edit" (click) = "applyData(tempentries)" [disabled]="editdata">Apply</button>
              <button type="button" class="btn btn-default" (click) = "closeModal1()" [disabled]="!editdata">Close</button>
          </div>
          
        </div>
      </div>
      
    </div>
    </div>
 </ng-container>
 
<ng-container *ngIf="display=='block'">
  <div class="modal" [ngStyle]="{'display':display}">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Enter Google Spreadsheet Link</h4>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
          <label class="col-md-2">Link : </label><input class="col-md-10" type="text" [(ngModel)]="link">
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" (click)="getAllData()">Go to Scrum</button>
        </div>
        
      </div>
    </div>
    </div>
  </ng-container>
  <ng-container *ngIf="addTask=='block'">
      <div class="modal"  [ngStyle]="{'display':addTask}">
      <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title">Add new task</h4>
            <button type="button" class="close" (click) = "closeTask()">&times;</button>
            
          </div>
          <div class="modal-body">
            <div class="form-group">
                <p><input class="form-control" type="text" placeholder="Task Name" [(ngModel)]="taskName" ></p>
                <p><input class="form-control" type="text" placeholder="Task description" [(ngModel)]="taskDesc" ></p>
                <p><input class="form-control" type="text" placeholder="Assigned To" [(ngModel)]="AssignedTo" ></p>
                <p><input class="form-control" type="text" placeholder="Assigned Date" [(ngModel)]="AssignedDate" ></p>
                <p><input class="form-control" type="text" placeholder="Deadline" [(ngModel)]="Deadline" ></p>
                <p><input class="form-control" type="text" placeholder="Completion Date" [(ngModel)]="completionDate" ></p>
                <p><select class="form-control" [(ngModel)]="taskStatus">
                    <option>Select Status</option>
                    <option *ngFor="let st of status">{{st}}</option>
                  </select></p>
                <p><textarea class="form-control" type="text" placeholder="Comments" rows="5" [(ngModel)]="comments" ></textarea></p>
                <label *ngIf="error==1" style="color:red;">Please enter all the fields</label>
                <div class="alert alert-success" *ngIf="successError==1">
                    <strong>Saved!</strong>
                  </div>
              </div> 
        </div>
        <div class="modal-footer">
          <div class="foot">
              <button type="button" class="btn btn-success" (click)="addTaskToFile()">Save</button>
          </div>
          
        </div>
      </div>
      
    </div>
    </div>
 </ng-container>
<router-outlet></router-outlet>